<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <queries><intent><action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.BROWSABLE" /><data android:scheme="https" /></intent></queries>
    <application android:name=".MobiviousApplication" android:label="Mobivious"
        android:icon="@drawable/ic_launcher" android:roundIcon="@drawable/ic_launcher"
        android:allowBackup="false" android:usesCleartextTraffic="false"
        android:theme="@style/Theme.Mobivious" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask"
            android:supportsPictureInPicture="true" android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.SEND" /><category android:name="android.intent.category.DEFAULT" /><data android:mimeType="text/plain" /></intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.DEFAULT" /><category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="mobivious.wingress.net" />
                <data android:host="invidious.wingress.net" />
                <data android:pathPrefix="/post" />
                <data android:pathPrefix="/watch" />
                <data android:pathPrefix="/playlist" />
                <data android:pathPrefix="/mix" />
                <data android:pathPrefix="/w/" />
                <data android:pathPrefix="/v/" />
                <data android:pathPrefix="/e/" />
                <data android:pathPrefix="/shorts/" />
                <data android:pathPrefix="/live/" />
                <data android:pathPrefix="/embed/" />
                <data android:pathPrefix="/channel/" />
                <data android:pathPrefix="/@" />
                <data android:pathPrefix="/c/" />
                <data android:pathPrefix="/user/" />
                <data android:pathPrefix="/hashtag/" />
                <data android:pathPrefix="/profile" />
                <data android:pathPrefix="/attribution_link" />
            </intent-filter>
        </activity>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.rss"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/rss_paths" />
        </provider>
        <service android:name=".player.PlaybackService" android:foregroundServiceType="mediaPlayback" android:exported="true">
            <intent-filter><action android:name="androidx.media3.session.MediaSessionService" /></intent-filter>
        </service>
    </application>
</manifest>
